node_modules/
lib/appledevice/node_modules
lib/credentials/node_modules
lib/icloudtools/node_modules
lib/mock-alexa-request/node_modules
lib/alexa-error/node_modules
**/*.iml
*.iml
.idea/
.nyc_output/
**/npm-debug.log
**/*.base64
**/creds.dcr
**/dev.json
**/production.json
deploy/docker/.env
deploy/docker/ssh/
deploy/claudia/claudia.json
coverage/
ignore/
.npm-install-changed.json
**/.DS_Store
